<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Lesson 19</title>
</head>
<body>
<form method="post" action="/populate">
            <input type="text" name="user-name" placeholder="Enter your name"><br>
            <input type="email" name="user-email" placeholder="Enter your email address"><br>

            <button>Add</button>
        </form>

<form method="post" action="/guess">
    <label>Guess:</label>
            <input type="number" name="guess" ><br>
            <input type="email" name="user-email" placeholder="Enter your email address"><br>
            <button>Submit</button>
        </form>


</body>
</html>